<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">

<!--    <bean id="springJobFactory" class="com.jojo.task.dynamic.DemoJobFactoryProxy"/>-->
<!--    <bean id="startQuertz" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">-->
<!--        <property name="jobFactory" ref="springJobFactory"/>-->
<!--        <property name="schedulerFactoryClass" value="com.jojo.task.dynamic.DemoSchedulerFactoryProxy"/>-->
<!--        <property name="startupDelay" value="30"/>-->
<!--        <property name="overwriteExistingJobs" value="true"/>-->
<!--    </bean>-->

    <!-- 总管理类 如果将lazy-init='false'那么容器启动就会执行调度程序 -->
    <bean id="startQuertz" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="startupDelay" value="30"/>
        <property name="overwriteExistingJobs" value="true"/>
    </bean>

</beans>


